.page-header {
  height: 520px;
  padding-top: 120px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffc0cb;
  background-color: #ffc0cb;
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */  
}