.new-tweet {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  padding: 5px;
}

output {
  font-family: "Bungee", sans-serif;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
}

button {
  font-family: "Bungee", sans-serif;
  background-color: #4056A1;
  border: none;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

textarea {
  display: table-cell;
  flex-direction:row;
  width:100%;
  background: transparent;
  outline: none;
  justify-content: flex-end;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  resize: none;
  margin-bottom: 10px;
  vertical-align: bottom
}

form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

form div {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

.new-tweet + article {
  margin: 20px;
}